<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{> estilos}}

    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center; margin-top:20px !important;">Equipo Verde, Modulo 6.6 Grupal</h1>
    {{> form}}
    {{> script}}
</body>
</html>